.wrapper {
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  .row {
    position: fixed;
    width: 100%;
    z-index: 100;
  }
  &.active {
    overflow: hidden;
    .row {
      background-color: #0a0825;
    }
  }
  .container {
    margin-top: 120px;
    width: 100%;
  }
  &:before {
    position: absolute;
    z-index: 1;
    content: "";
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
    top: -200px;
    background: rgba(104, 120, 190, 0.3);
    filter: blur(100px);
    border-radius: 50%;
    @media screen and (max-width:600px) {
      width: 100%;
    }
  }
}
