@mixin d_flex($a: flex-start, $j: flex-start, $f_d: row) {
  display: flex;
  align-items: $a;
  justify-content: $j;
  flex-direction: $f_d;
}

.wrapper {
  background: #0a0825;
  width: 100%;
  overflow: hidden;
  .container {
    width: 100%;
    min-height: 100vh;
    position: relative;
    .navbar {
      margin-top: 20px;
      padding: 0 120px;
      box-sizing: border-box;
      background: #0a0825;
      @media screen and (max-width: 1200px) {
        padding: 0 60px;
      }
      @media screen and (max-width: 900px) {
        padding: 0 30px;
        margin-top: 0;
      }
      @media screen and (max-width: 420px) {
        padding: 0 15px;
      }
      @include d_flex(center, space-between);
      height: 80px;
      .logo {
        height: 100%;
        display: flex;
        position: relative;
        z-index: 10;
        @include d_flex(center);
        h1 {
          font-family: "Outfit";
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 25px;
          color: #ffffff;
        }
        .btn {
          cursor: pointer;
          display: none;
          background: transparent;
          border: 0;
          font-size: 35px;
          user-select: none;

          @media screen and (max-width: 800px) {
            display: block;
            color: #ffffff;
          }
        }
        @media screen and (max-width: 800px) {
          width: 100%;
          @include d_flex(center, space-between);
        }
      }
      .nav {
        height: calc(100% - 80px);
        @include d_flex(center);
        transition: all linear 0.4s;
        ul {
          @include d_flex(center);
          li {
            list-style: none;
            &:not(:nth-child(1)) {
              margin-left: 40px;
            }
            a {
              text-decoration: none;
              font-family: "Outfit";
              font-style: normal;
              font-weight: 700;
              font-size: 20px;
              line-height: 25px;
              color: #ffffff;
            }
          }
        }
        @media screen and (max-width: 800px) {
          background: #0a0825;
          transition: all linear 0.4s;
          width: 50%;
          position: absolute;
          z-index: 100;
          top: 80px;
          right: 0;
          transform: translateX(100%);
          padding-left: 40px;
          border-left: 1px solid #ffffff;
          @include d_flex(start);
          overflow: hidden;
          ul {
            margin-top: 50px;
            flex-direction: column;
            align-items: flex-start;
            li {
              &:not(:nth-child(1)) {
                margin-left: 0px;
                margin-top: 50px;
              }
              a {
                font-size: 25px;
                @media screen and (max-width: 450px) {
                  font-size: 20px;
                }
              }
            }
            position: relative;
            &:before {
              position: absolute;
              content: "";
              left: -100px;
              width: 400px;
              height: 400px;
              top: -200px;
              background: rgba(104, 120, 190, 0.3);
              filter: blur(100px);
              border-radius: 50%;
            }
            &:after {
              position: absolute;
              content: "";
              right: -300px;
              bottom: -700px;
              width: 400px;
              height: 400px;
              background: rgba(66, 33, 99, 0.5);
              filter: blur(100px);
              border-radius: 50%;
            }
          }
        }
      }
      .nav.active {
        box-shadow: -4px 0px 10px #15D7E3;
        @media screen and (max-width: 800px) {
          transform: translateX(0px);
        }
      }
      @media screen and (max-width: 800px) {
        border-bottom: 1px solid #ffffff;
        box-shadow: 0px 5px 10px #15D7E3;
      }
    }
    .hero {
      padding: 0 120px;
      margin-top: 100px;
      box-sizing: border-box;
      display: grid;
      grid-template-columns: 60% 40%;
      @media screen and (max-width: 1200px) {
        padding: 0 60px;
        margin-top: 80px;
      }
      @media screen and (max-width: 900px) {
        padding: 0 30px;
      }
      @media screen and (max-width: 420px) {
        padding: 0 15px;
        margin-top: 50px;
      }
      @media screen and (max-width: 800px) {
        grid-template-columns: 55% 45%;
      }
      @media screen and (max-width: 667px) {
        grid-template-columns: repeat(1, 1fr);
      }

      .left {
        @include d_flex(flex-start, center, column);
        h1 {
          font-family: "Outfit";
          font-style: normal;
          font-weight: 700;
          font-size: 50px;
          line-height: 88px;
          color: #ffffff;
          @media screen and (max-width: 800px) {
            font-size: 40px;
            line-height: 78px;
          }
          @media screen and (max-width: 450px) {
            font-size: 32px;
            line-height: 60px;
          }
          @media screen and (max-width: 380px) {
            font-size: 30px;
            line-height: 50px;
          }
          @media screen and (max-width: 340px) {
            font-size: 26px;
            line-height: 50px;
          }
        }
        .text_wrap {
          .text {
            font-family: "Outfit";
            font-style: normal;
            font-weight: 700;
            font-size: 50px;
            line-height: 88px;
            color: #ffffff;
            @media screen and (max-width: 800px) {
              font-size: 40px;
              line-height: 78px;
            }
            @media screen and (max-width: 450px) {
              font-size: 32px;
              line-height: 60px;
            }
            @media screen and (max-width: 380px) {
              font-size: 30px;
              line-height: 50px;
            }
            @media screen and (max-width: 340px) {
              font-size: 26px;
              line-height: 50px;
            }
          }
        }
        .btn {
          user-select: none;
          padding: 13px 40px;
          background: #4f4db9;
          border-radius: 30px;
          font-family: "Outfit";
          font-style: normal;
          font-weight: 400;
          font-size: 25px;
          line-height: 25px;
          @include d_flex(center);
          text-align: center;
          letter-spacing: -0.02em;
          color: #ffffff;
          border: 0;
          cursor: pointer;
          margin-top: 44px;
          position: relative;
          overflow: hidden;
          transition: all linear 0.225s;
          &::before {
            transition: all linear 0.225s;
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: -100%;
            background: linear-gradient(
              to left,
              transparent,
              #ffffff,
              transparent
            );
          }
          &:hover {
            box-shadow: rgba(232, 232, 232, 0.75) 0px 5px 10px;
            &::before {
              left: 100%;
            }
          }
        }
      }
      .right {
        width: 100%;
        position: relative;
        z-index: 10;
        .rocket_1 {
          width: 100%;
          height: 760px;
          @media screen and (max-width: 1200px) {
            display: none;
          }
        }
        .rocket_2 {
          width: 100%;
          height: 760px;
          @media screen and (min-width: 1200px) {
            display: none;
          }
          @media screen and (max-width: 1200px) {
            height: 660px;
          }
          display: block;
        }
        .rocket_3 {
          width: 100%;
          height: 760px;
        }
      }
    }
    &:before {
      position: absolute;
      z-index: 1;
      content: "";
      top: 0;
      left: 0;
      width: 500px;
      height: 500px;
      top: -200px;
      background: rgba(104, 120, 190, 0.3);
      filter: blur(100px);
      border-radius: 50%;
    }
    &:after {
      position: absolute;
      content: "";
      right: 0;
      bottom: 0;
      transform: translateX(100px) translateY(100px);
      width: 500px;
      height: 500px;
      background: rgba(66, 33, 99, 0.5);
      filter: blur(100px);
      border-radius: 50%;
    }
  }
}

.wrapper.fixed{
  position: fixed;
}