@mixin d_flex($a: flex-start, $j: flex-start, $f_d: row) {
  display: flex;
  align-items: $a;
  justify-content: $j;
  flex-direction: $f_d;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  @media screen and (max-width: 900px) {
        &:after{
          bottom: -290px;
        }
  }
}
