@mixin d_flex($a: flex-start, $j: flex-start, $f_d: row) {
  display: flex;
  align-items: $a;
  justify-content: $j;
  flex-direction: $f_d;
}

.wrapper {
  background: transparent;
  padding-top: 80px;
  position: relative;
  // overflow: hidden;
  @media screen and (max-width: 900px) {
    padding-top: 50px;
    &:after{
      top: -290px;
    }
  }
    @media screen and (max-width: 800px) {
      padding-top: 80px;
    }
  .container {
    position: relative;
    @media screen and (max-width: 1400px) {
      padding: 0 60px;
    }
    @media screen and (max-width: 1200px) {
      padding: 0 60px;
    }
    @media screen and (max-width: 900px) {
      padding: 0 30px;
      margin-top: 0;
    }
    @media screen and (max-width: 420px) {
      padding: 0 15px;
    }
    .rows {
      max-width: 1250px;
      margin: 0 auto;
      position: relative;
      z-index: 1;
      .title {
        font-size: 5rem;
        color: #ffffff;
        opacity: 0.4;
        line-height: 96px;
        font-weight: 900;
        text-transform: capitalize;
        letter-spacing: 40px;
        font-family: "Outfit";
        text-align: center;
        @media screen and (max-width: 850px) {
          font-size: 70px;
          line-height: 90px;
          letter-spacing: 30px;
        }
        @media screen and (max-width: 700px) {
          font-size: 60px;
          line-height: 90px;
          letter-spacing: 20px;
        }
        @media screen and (max-width: 550px) {
          font-size: 45px;
          line-height: 70px;
          letter-spacing: 15px;
        }
        @media screen and (max-width: 430px) {
          font-size: 40px;
          line-height: 70px;
          letter-spacing: 15px;
        }
        @media screen and (max-width: 370px) {
          font-size: 30px;
          line-height: 50px;
          letter-spacing: 15px;
        }
      }
    }
    .row {
      max-width: 1250px;
      margin: 80px auto 0 auto;
      position: relative;
      display: grid;
      grid-template-columns: 40% 60%;
      @media screen and (max-width: 1100px) {
        grid-template-columns: 50% 50%;
      }
      @media screen and (max-width: 800px) {
        grid-template-columns: 45% 55%;
      }
      @media screen and (max-width: 750px) {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
        .left {
          order: 2;
        }
        .right {
          order: 1;
        }
      }
      .left {
        align-self: center;
        .spline_1 {
          height: 740px;
          @media screen and (min-width: 900px) {
            display: block;
          }
          @media screen and (max-width: 900px) {
            display: none;
          }
        }
        .spline_2 {
          display: none;
          @media screen and (max-width: 900px) and (min-width: 751px) {
            display: block;
          }
          height: 600px;
        }
        .spline_3 {
          @media screen and (min-width: 750px) {
            display: none;
          }
          @media screen and (max-width: 750px) {
            display: block;
          }
          display: block;
          height: 600px;
        }
      }
      .right {
        align-self: center;
        @include d_flex(center, center, column);
        .card {
          padding: 20px 25px;
          height: max-content;
          border-radius: 20px;
          background: transparent;
          backdrop-filter: blur(4.5px);
          -webkit-backdrop-filter: blur(4.5px);
          border-radius: 20px;
          border: 2px solid #00b3ff;
          box-shadow: 0 0 35px #00b3ff;
          h1 {
            font-family: "Outfit";
            font-style: normal;
            font-weight: 700;
            font-size: 27px;
            line-height: 30px;
            color: #ffffff;
            text-align: center;
            text-transform: capitalize;
            @media screen and (max-width: 900px) {
              font-size: 22px;
            }
          }
          p {
            margin-top: 20px;
            font-family: "Outfit";
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 30px;
            color: #ffffff;
            text-align: justify;
            text-justify: inter-word;
            @media screen and (max-width: 900px) {
              font-size: 19px;
            }
          }
          &:nth-child(2) {
            margin-top: 50px;
          }
        }
      }
      .title {
        font-size: 5rem;
        color: #ffffff;
        opacity: 0.4;
        font-weight: 900;
        text-transform: capitalize;
        letter-spacing: 50px;
        font-family: "Outfit";
        text-align: center;
      }
      @media screen and (max-width: 900px) {
        margin: 50px auto 0 auto;
      }
    }
  }
  &:after {
    position: absolute;
    content: "";
    right: 0;
    top: -290px;
    width: 580px;
    height: 580px;
    background: rgba(66, 33, 99, 0.5);
    filter: blur(100px);
    border-radius: 50%;
  }
}
