@mixin d_flex($a: flex-start, $j: flex-start, $f_d: row) {
  display: flex;
  align-items: $a;
  justify-content: $j;
  flex-direction: $f_d;
}

.wrapper {
  width: 100%;
  position: relative;
  .container {
    width: 100%;
    position: relative;
    z-index: 100;
    margin: 0 auto;
    max-width: 1250px;
    .navbar {
      width: 100%;
      box-sizing: border-box;
      background: transparent;
      @media screen and (max-width: 1400px) {
        padding: 0 60px;
      }
      @media screen and (max-width: 1200px) {
        padding: 0 60px;
      }
      @media screen and (max-width: 900px) {
        padding: 0 30px;
        margin-top: 0;
      }
      @media screen and (max-width: 420px) {
        padding: 0 15px;
      }
      @include d_flex(center, space-between);
      height: 80px;
      @media screen and (max-width: 800px) {
        height: 60px;
      }
      .logo {
        height: 100%;
        display: flex;
        position: relative;
        z-index: 10;
        @include d_flex(center);
        h1 {
          font-family: "Outfit";
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 25px;
          color: #ffffff;
        }
        .btn {
          cursor: pointer;
          display: none;
          background: transparent;
          border: 0;
          font-size: 35px;
          user-select: none;

          @media screen and (max-width: 800px) {
            display: block;
            color: #ffffff;
          }
        }
        @media screen and (max-width: 800px) {
          width: 100%;
          @include d_flex(center, space-between);
        }
      }
      .nav {
        height: calc(100% - 80px);
        @include d_flex(center);
        transition: all linear 0.4s;
        @media screen and (max-width: 800px) {
           height: calc(100% - 60px);
        }
        ul {
          @include d_flex(center);
          li {
            list-style: none;
            &:not(:nth-child(1)) {
              margin-left: 40px;
            }
            transition: all linear 2s;
            a {
              text-decoration: none;
              font-family: "Outfit";
              font-style: normal;
              font-weight: 700;
              font-size: 25px;
              line-height: 28px;
              color: #ffffff;
              background: transparent;
              transition: all linear 0.225s;
              @media screen and (max-width: 1000px) {
                font-size: 20px;
              }
              background: transparent;
            }
            position: relative;
            background: transparent;
            border-radius: 10px;
            z-index: 11;
            transition: all linear 0.225s;
            &::before {
              z-index: 10;
              width: 100%;
              height: 4px;
              border-radius: 2px;
              left: 0;
              bottom: 0;
              content: "";
              position: absolute;
              background: transparent;
              transition: all linear 0.225s;
            }
            &:hover {
              &::before {
                z-index: 10;
                width: 100%;
                height: 4px;
                border-radius: 2px;
                left: 0;
                bottom: 0;
                content: "";
                position: absolute;
                background: #fff;
                box-shadow: 0 0 10px #00b3ff, 0 0 10px #00b3ff, 0 0 20px #00b3ff,
                  0 0 40px #00b3ff, 0 0 80px #00b3ff, 0 0 120px #00b3ff;
              }
            }
            padding: 10px 15px;
            @media screen and (max-width: 1200px) {
              &:not(:nth-child(1)) {
                margin-left: 20px;
                a{
                  font-size: 22px;
                }
              }
            }
             @media screen and (max-width: 950px) {
              &:not(:nth-child(1)) {
                margin-left: 10px;
                a{
                  font-size: 20px;
                }
              }
            }
          }
        }
        @media screen and (max-width: 800px) {
          background: #0a0825;
          transition: all linear 0.4s;
          width: 50%;
          height: 100vh;
          position: absolute;
          z-index: 100;
          top: 60px;
          right: 0;
          transform: translateX(100%);
          padding-left: 40px;
          border-left: 1px solid #ffffff;
          @include d_flex(start);
          ul {
            margin-top: 50px;
            flex-direction: column;
            align-items: flex-start;
            li {
              &:not(:nth-child(1)) {
                margin-left: 0px;
                margin-top: 50px;
              }
              a {
                font-size: 25px;
                @media screen and (max-width: 450px) {
                  font-size: 20px;
                }
              }
            }
            position: relative;
          }
        }
      }
      .nav.active {
        box-shadow: -4px 0px 10px #15d7e3;
        @media screen and (max-width: 800px) {
          transform: translateX(0px);
        }
      }
      @media screen and (max-width: 800px) {
        border-bottom: 1px solid #ffffff;
        box-shadow: 0px 5px 10px #15d7e3;
      }
    }
  }
}

.wrapper.fixed {
  position: relative;
}
