@mixin d_flex($a: flex-start, $j: flex-start, $f_d: row) {
  display: flex;
  align-items: $a;
  justify-content: $j;
  flex-direction: $f_d;
}
.wrapper {
  background: transparent;
  .container {
    @media screen and (max-width: 1400px) {
      padding: 0 60px;
    }
    @media screen and (max-width: 1200px) {
      padding: 0 60px;
    }
    @media screen and (max-width: 900px) {
      padding: 0 30px;
      margin-top: 0;
    }
    @media screen and (max-width: 420px) {
      padding: 0 15px;
    }
    h1{
    font-size: 50px;
    color: #ffffff;
    opacity: 0.4;
    line-height: 66px;
    font-weight: 900;
    text-transform: capitalize;
    letter-spacing: 5px;
    font-family: "Outfit";
    text-align: center;
    @media screen and (max-width: 550px) {
      font-size: 45px;
      line-height: 56px;
    }
    @media screen and (max-width: 550px) {
      font-size: 35px;
      line-height: 46px;
    }
    }
    .row {
      max-width: 1250px;
      margin: 80px auto 0 auto;
      .cards {
        .card {
          display: grid;
          grid-template-columns: 30% 70%;
          @media screen and (max-width: 720px) {
            grid-template-columns: repeat(1, 1fr);
          }
          .left {
            width: 200px;
            height: 200px;
            cursor: pointer;
            align-self: center;
            display: block;
            @media screen and (max-width: 720px) {
              display: none;
            }
          }
          .right {
            align-self: center;
            padding: 20px 30px;
            height: max-content;
            background: transparent;
            backdrop-filter: blur(4.5px);
            -webkit-backdrop-filter: blur(4.5px);
            border-radius: 20px;
            border: 2px solid #00b3ff;
            box-shadow: 0 0 35px #00b3ff;
            h1 {
              font-family: "Outfit";
              font-style: normal;
              font-weight: 700;
              font-size: 27px;
              line-height: 30px;
              color: #ffffff;
              text-align: center;
              text-transform: capitalize;
              @media screen and (max-width: 900px) {
                font-size: 22px;
              }
            }
            ul {
              li {
                &:not(:nth-child(1)) {
                  margin-top: 15px;
                }
                margin-top: 20px;
                font-family: "Outfit";
                font-style: normal;
                font-weight: 700;
                font-size: 22px;
                line-height: 30px;
                color: #ffffff;
                text-align: justify;
                text-justify: inter-word;
                transition: all linear 0.225s;
                @media screen and (max-width: 900px) {
                  font-size: 19px;
                }
              }
            }
            p {
              margin-top: 20px;
              font-family: "Outfit";
              font-style: normal;
              font-weight: 700;
              font-size: 22px;
              line-height: 30px;
              color: #ffffff;
              text-align: justify;
              text-justify: inter-word;
              transition: all linear 0.225s;
              @media screen and (max-width: 900px) {
                font-size: 19px;
              }
            }
            .active {
              @media screen and (max-width: 667px) {
                height: 150px;
                overflow: auto;
              }
            }
            @media screen and (max-width: 667px) {
              padding: 10px 15px;
            }
          }
          &:not(:nth-child(1)) {
            margin-top: 50px;
          }
        }
        @media screen and (max-width: 667px) {
          display: none;
        }
      }
      .accordions {
        @media screen and (min-width: 667px) {
          display: none;
          width: 100%;
        }
      }
      @media screen and (max-width: 900px) {
        margin: 50px auto 0 auto;
      }
    }
  }
}
