.text {
  display: inline-block;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 88px;
  // min-width: 160px;
  color: #ffffff;
  @media screen and (max-width: 800px) {
    font-size: 40px;
    line-height: 78px;
  }
  @media screen and (max-width: 450px) {
    font-size: 32px;
    line-height: 60px;
  }
    @media screen and (max-width: 380px) {
    font-size: 30px;
    line-height: 50px;
  }
      @media screen and (max-width: 340px) {
    font-size: 26px;
    line-height: 50px;
  }
  span {
    display: inline-block;
    opacity: 0;
    animation-name: anim;
    animation-duration: 6s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  span:nth-child(1) {
    animation-delay: 0.1s;
  }
  span:nth-child(2) {
    animation-delay: 0.2s;
  }
  span:nth-child(3) {
    animation-delay: 0.3s;
  }
  span:nth-child(4) {
    animation-delay: 0.4s;
  }
  span:nth-child(5) {
    animation-delay: 0.5s;
  }
  span:nth-child(6) {
    animation-delay: 0.6s;
  }
  span:nth-child(7) {
    animation-delay: 0.7s;
  }
  span:nth-child(8) {
    animation-delay: 0.9s;
  }
}

@keyframes anim {
  0% {
    opacity: 0;
    transform: translateY(-120px) translateX(0) skewY(10deg) skewX(10deg)
      rotateZ(30deg);
    filter: blur(10px);
  }
  25% {
    opacity: 1;
    transform: translateY(0px) translateX(0) skewY(0deg) skewX(0deg)
      rotateZ(0deg);
    filter: blur(0px);
  }
  75% {
    opacity: 1;
    transform: translateY(0px) translateX(0) skewY(0deg) skewX(0deg)
      rotateZ(0deg);
    filter: blur(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-120px) translateX(100px) skewY(-10deg) skewX(-10deg)
      rotateZ(30deg);
    filter: blur(10px);
  }
}
